
.idea/libraries/Maven__io_reactivex_rxjava3_rxjava_3_0_12.xml
.idea/libraries/Maven__javax_cache_cache_api_1_1_1.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_11_0.xml
.idea/libraries/Maven__org_jboss_marshalling_jboss_marshalling_2_0_11_Final.xml
.idea/libraries/Maven__org_jboss_marshalling_jboss_marshalling_river_2_0_11_Final.xml
.idea/libraries/Maven__org_jodd_jodd_bean_5_1_6.xml
.idea/libraries/Maven__org_jodd_jodd_core_5_1_6.xml
.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_22.xml
.idea/libraries/Maven__org_redisson_redisson_3_17_0.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
.idea/misc.xml
.idea/libraries/Maven__org_spigotmc_spigot_1_8_8_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_28.xml
.idea/modules.xml
.idea/Mugiwara.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_13_1.xml
.idea/libraries/Maven__fr_kohei_bukkitapi_1_1_2.xml
.idea/libraries/Maven__fr_kohei_common_1_3_7_STABLE.xml
.idea/libraries/Maven__fr_kohei_uhc_1_0_1.xml
.idea/libraries/Maven__io_netty_netty_buffer_4_1_74_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_4_1_74_Final.xml
.idea/libraries/Maven__io_netty_netty_common_4_1_74_Final.xml
.idea/libraries/Maven__io_netty_netty_handler_4_1_74_Final.xml
.idea/libraries/Maven__io_netty_netty_resolver_dns_4_1_74_Final.xml
.idea/discord.xml
.idea/compiler.xml
.idea/libraries/Maven__io_netty_netty_resolver_4_1_74_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_dns_4_1_74_Final.xml
.idea/libraries/Maven__io_netty_netty_tcnative_classes_2_0_48_Final.xml
.idea/libraries/Maven__io_projectreactor_reactor_core_3_4_13.xml
.idea/libraries/Maven__io_netty_netty_transport_4_1_74_Final.xml
.idea/libraries/Maven__io_reactivex_rxjava3_rxjava_3_0_12.xml
.idea/libraries/Maven__javax_cache_cache_api_1_1_1.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_11_0.xml
.idea/libraries/Maven__org_jboss_marshalling_jboss_marshalling_2_0_11_Final.xml
.idea/libraries/Maven__org_jboss_marshalling_jboss_marshalling_river_2_0_11_Final.xml
*.xml
*.iml
